*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
}

main{
  margin-top: 200px;
}

main h1, h2, h3{
  text-align: center;
  color: white;
  margin-top: 10px;
  font-size: 50px;
}